.menu { grid-area: menu; }
.main { grid-area: main; }
.grid-container {
    display: grid;
    grid-template-areas:'menu main main main main'
}

#widthSlider:hover {
    opacity: 1;
}

.line{
    size: 3px;
    color: black;
}

.btnColor{
    height: 50px;
    width: 50px;
}