.menu { grid-area: menu; }
.main { grid-area: main; }
.grid-container {
    display: grid;
    grid-template-areas:'menu main main main main'
}

#widthSlider:hover {
    opacity: 1;
}

.line{
    size: 3px;
    color: black;
}

.btnColor{
    height: 50px;
    width: 50px;
}

#blueBtn{
    background-color: blue;
    border-color: blue;
}

#redBtn{
    background-color: red;
    border-color: red;
}

#greenBtn{
    background-color: green;
    border-color: green;
}

#orangeBtn{
    background-color: orange;
    border-color: orange;
}

#purpleBtn{
    background-color: purple;
    border-color: purple;
}

#blackBtn{
    background-color: black;
    border-color: black;
}

#pinkBtn{
    background-color: pink;
    border-color: pink;
}

#greyBtn{
    background-color: grey;
    border-color: grey;
}
